# Nodejs
node_modules

# Tasks
taskState

# VPN / Proxy
wireproxy/proxy.wg

# Typesense
typesense/data

# Exports / datasets
*.csv
*.zip
*.jsonl

# Plausible
plausible/clickhouse
plausible/db-data
plausible/event-logs
plausible/event-data
plausible/plausible-conf.env

# Konfiguracija
/config.js

# Viešlaiškiai
public/vieslaiskiai

# Old
old
backup

# Temp
tmp/*
