# Nodejs
node_modules

# Tasks
taskState

# VPN / Proxy
wireproxy/proxy.wg

# Typesense
typesense/data

# Exports / datasets
*.csv
*.zip
*.jsonl
*.txt

# Plausible
plausible/clickhouse
plausible/db-data
plausible/event-logs
plausible/event-data
plausible/plausible-conf.env

# Postgres
pgdata
pgadmin-data

# Typesense
typesense/typesense

# Konfiguracija
/config.js
.env

# Viešinami dokumentai
public/vieslaiskiai
public/veiklosAtaskaitos
public/specialus

# Old
old
backup

# Temp
tmp/*
