<!DOCTYPE html>
<html>
	<head>
		<%- include('head.ejs') %>
		<meta property="og:title" content="Duomenys"/>
		<meta property="og:description" content="Neoficialus tiek pavienių, tiek visų viešųjų pirkimų duomenų parsisiuntimas." /> 
		<meta
			name="description"
			content="Neoficialus tiek pavienių, tiek visų viešųjų pirkimų duomenų parsisiuntimas."
		/>
		<meta property="og:type" content="website" />
	</head>
	<body>
		<%- include('header.ejs') %>
		<main>
			<h1>Duomenys</h1>
			<p>
				Jokiems šioje svetainėje pateiktiems duomenims nėra taikomas jokios rūšies garantijos.
			</p>
			<p>
				Jie yra bendrinami siekiant padidinti viešųjų pirkimų skaidrumą ir padidinti valstybinių duomenų prieinamumą.
			</p>
			<h2>Pavieniai pirkimai</h2>
			<p>
				Pavienių pirkimų duomenys pasiekiami .json formatu pagal sutarties unikalų ID. Pvz.: 
				<pre><a href="https://viespirkiai.top/pirkimas/2007700250.json">https://viespirkiai.top/pirkimas/<i><b>2007700250</b></i>.json</a></pre>
			</p>



			<h2>Visi pirkimai</h2>
			<p>
				Visus viešuosius pirkimus galima parsisiųsti .jsonl.gz formatu. 
			</p>
			<p>
				Duomenų eksportai:
				<pre><a href="https://vp-r2.martynasv.lt/viesi-duomenys/2025-06-19.jsonl.gz">2025-06-19.jsonl.gz</a></pre>
			</p>

			<br>
			Neradote ko ieškote? Susisiekite <a href="mailto:sveiki@viespirkiai.top">sveiki@viespirkiai.top</a>

			<h1>Duomenų šaltiniai</h1>
			<ul>
				<li>
					Intitucijų viešųjų pirkimų sutartys: 
					<ul>
						<li>
							<a href="https://eviesiejipirkimai.lt/index.php?option=com_vptpublic&task=sutartys&Itemid=109"> Viešųjų pirkimų tarnyba </a>
						</li>
					</ul>
				</li>
				<li>
					Juridinių asmenų informacija: 
					<ul>
						<li>
							<a href="https://atvira.sodra.lt/imones/rinkiniai/index.html">SODRA</a>
						</li>
						<li>
							<a href="https://data.gov.lt/datasets/673/">VMI / data.gov.lt</a> (<a href="https://creativecommons.org/licenses/by/4.0/deed.lt">Creative Commons Attribution 4.0</a>)
						</li>
						<li>
							<a href="https://data.gov.lt/datasets/1484/">Registrų centras / data.gov.lt</a> (<a href="https://creativecommons.org/licenses/by/4.0/deed.lt">Creative Commons Attribution 4.0</a>)
						</li>
					</ul>
				</li>
			</ul>



		</main>
	  <%- include('footer.ejs') %>
	</body>
</html>
