<header>
	<h1 class="viespirkiai"><a href="/" class="noStyle">Viešpirkiai</a></h1>
	CVP IS sudarytų sutarčių duomenų kopija

	<aside>
		<a href="/analitika">↗ Analitika</a> &nbsp;
		<a href="/duomenys">↗ Duomenys</a>
	</aside>
</header>
