<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/index.css?v33" />
<title>
	<%= typeof customPageName !== 'undefined' && customPageName ? customPageName +
	' – ' : '' %>Viešpirkiai
</title>
<meta property="og:site_name" content="Viešpirkiai" />   
<%- customHead %> 
