<header>
	<h1 class="viespirkiai"><a href="/" class="noStyle">Viešpirkiai</a></h1>

	<% if(typeof hideSubtext == "undefined" || hideSubtext == false) { %>
		CVP IS sudarytų sutarčių duomenų kopija
	<% } %>

	<aside>
		<a href="/juridiniai">↗ Juridiniai a.</a> &nbsp;
		<a href="/kodas">↗ Kodas</a> &nbsp;
		<a href="/analitika">↗ Analitika</a> &nbsp;
		<a href="/duomenys">↗ Duomenys</a>
	</aside>
</header>
