<form method="get">
    <h1>Juridinių asmenų paieška<sup>BETA</sup></h1>
    <input type="text" name="search" id="search" value="<%= values.search || "" %>" placeholder="Paieška" />
    <button type="submit" value="Ieškoti" class="main">Ieškoti</button>
</form>