<div class="table-wrapper">
    <table>
        <thead>
            <tr>
                <th class="sortable asc">Column</th>
                <th class="cell-center">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr class="row-warning">
                ...
            </tr>
            <tr class="row-danger">
                ...
            </tr>
        </tbody>
    </table>
</div>
<!-- Modifiers: table-sm, table-lg, table-striped -->
<!-- Cell: cell-center, cell-right, cell-mono, cell-nowrap, cell-clamp -->
