@import "tailwindcss";

@theme inline {
    --color-white: var(--white);
    --color-black: var(--black);
    --color-muted: var(--gray);
    --color-gray: var(--gray);
}

@source "../views/**/*.ejs";
@source "../routes/**/*.js";
@source "../public/**/*.js";

@import "./forms.css";

